.App {
  text-align: center;
  display: flex;
  justify-content: center;
}

.sudoku-table {
  margin-top: 15%;
  margin-bottom: 3%;
  background: rgba(0, 0, 0, 0.287);
  box-shadow: 7px 7px 12px black;
}

.undo {
  margin-top: 5.6%;
  margin-left: 1%;
  float: right;
}

.undo-button {
  height: 50px;
  width: 50px;
  color: white;
  background: linear-gradient(
    45deg,
    rgb(58, 0, 0),
    rgb(65, 2, 38),
    rgb(58, 2, 65),
    rgb(37, 2, 65),
    rgb(37, 2, 65),
    rgb(14, 2, 65),
    rgb(2, 19, 65)
  );
  box-shadow: 7px 7px 12px black;
  font-size: 2vh;
}

.solve-button {
  height: 50px;
  width: 300px;
  color: white;
  margin-top: 7%;
  font-size: 2vh;
  background: linear-gradient(
    45deg,
    rgb(58, 0, 0),
    rgb(65, 2, 38),
    rgb(58, 2, 65),
    rgb(37, 2, 65),
    rgb(37, 2, 65),
    rgb(14, 2, 65),
    rgb(2, 19, 65)
  );
  box-shadow: 7px 7px 12px black;
}

.numbers {
  height: 80px;
  width: 80px;
  font-size: 2vh;
  color: black;
  background: linear-gradient(45deg, rgb(65, 63, 63), white);
  box-shadow: 7px 7px 12px black;
}

.numbers:hover {
  background: rgb(0, 0, 0);
  color: white;
}

.sudoku-row:nth-child(-n + 3) .sudoku-col:nth-child(-n + 3) {
  background: linear-gradient(45deg, rgba(0, 0, 0), rgba(126, 9, 9));
}

.sudoku-row:nth-child(-n + 3) .sudoku-col:nth-child(n + 4):nth-child(-n + 6) {
  background: linear-gradient(45deg, rgba(0, 0, 0), rgba(9, 73, 126));
}

.sudoku-row:nth-child(-n + 3) .sudoku-col:nth-child(n + 7):nth-child(-n + 9) {
  background: linear-gradient(45deg, rgba(0, 0, 0), rgba(9, 126, 15));
}

.sudoku-row:nth-child(n + 4):nth-child(-n + 6) .sudoku-col:nth-child(-n + 3) {
  background: linear-gradient(45deg, rgba(0, 0, 0), rgba(50, 9, 126));
}

.sudoku-row:nth-child(n + 4):nth-child(-n + 6)
  .sudoku-col:nth-child(n + 4):nth-child(-n + 6) {
  background: linear-gradient(45deg, rgba(0, 0, 0), rgba(211, 94, 16));
}

.sudoku-row:nth-child(n + 4):nth-child(-n + 6)
  .sudoku-col:nth-child(n + 7):nth-child(-n + 9) {
  background: linear-gradient(45deg, rgba(0, 0, 0), rgba(126, 9, 91));
}

.sudoku-row:nth-child(n + 7):nth-child(-n + 9) .sudoku-col:nth-child(-n + 3) {
  background: linear-gradient(45deg, rgba(0, 0, 0), rgba(51, 230, 215));
}

.sudoku-row:nth-child(n + 7):nth-child(-n + 9)
  .sudoku-col:nth-child(n + 4):nth-child(-n + 6) {
  background: linear-gradient(45deg, rgba(0, 0, 0), rgba(54, 135, 228));
}

.sudoku-row:nth-child(n + 7):nth-child(-n + 9)
  .sudoku-col:nth-child(n + 7):nth-child(-n + 9) {
  background: linear-gradient(45deg, rgba(0, 0, 0), rgba(223, 22, 38));
}

td {
  opacity: 0.8;
}

.sudoku-row:nth-child(1) {
  border-top: 2px white solid;
}
.sudoku-col:nth-child(1) {
  border-left: 2px white solid;
}
.sudoku-row:nth-child(3),
.sudoku-row:nth-child(6),
.sudoku-row:nth-child(9) {
  border-bottom: 2px white solid;
}
.sudoku-col:nth-child(3),
.sudoku-col:nth-child(6),
.sudoku-col:nth-child(9) {
  border-right: 2px white solid;
}

.individual-box {
  font-size: 3vh;
  color: white;
}

.ant-modal-body {
  padding: 0px;
}

.ant-modal-content {
  background: none;
}
